{% extends 'login_system/base.html'%}
{% load static %}


</script>

{% block content %}
        <header id="header">
            <div class="inner">
                    <a href= 'http://127.0.0.1:8000/' class="logo">
                        <span class="symbol"><img src={% static 'website/images/logo.svg'%} alt="" /></span><span class="title">Audit System</span>
                    </a>
            </div>
        </header>
        
<center>
    <h1>Add Info to database</h1>
    <br/>

    {% if submitted %}
        Your info was submitted successfully!

    {% else %}

        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>
    {% endif %}
</center>

{% endblock %}